<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>digitalAmaru</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    
    <main>
        <!--CARRUSEL-->
    <div class="carrusel_principal">
        <!-- aca el carrusel-->
    </div>

    <!--CURSOS MAS VENDIDIOS-->
    <div class="Cursos">

    </div>

    <!--TITULOS-->
    <div class="contenedor__titulos__certificados">
        <div class="contenedor__titulo">
            <h3>Beneficios</h3>
        </div>

        <!--contenedores titulos-->
        <div class="flex_cont_titulos">
            <div class="titulos__indiv">
                <div class="caja__img-titulo">
                    <div class="img__titulo">img</div>
                    <h3>CTD</h3>
                </div>
                <!--texto-->
                <h3  class="h3-titulos-int">the ultimate degree</h3>
                <div class="cont_p_texto">
                    <p><b>Titulo Certificado. </b>Es una iniciativa educativa co-creada por Digital House, Mercado Libre y Globant para formar desarrolladores siguiendo los más altos estándares de la industria. </p>
                </div>
            </div>
            <div class="titulos__indiv">
                <div class="caja__img-titulo">
                    <div class="img__titulo">img</div>
                    <h3>CTD</h3>
                </div>
                <!--texto-->
                <h3  class="h3-titulos-int">the ultimate degree</h3>
                <div class="cont_p_texto">
                    <p><b>Titulo Certificado. </b>Es una iniciativa educativa co-creada por Digital House, Mercado Libre y Globant para formar desarrolladores siguiendo los más altos estándares de la industria. </p>
                </div>
            </div>
            
            <div class="titulos__indiv">
                <div class="caja__img-titulo">
                    <div class="img__titulo">img</div>
                    <h3>CTD</h3>
                </div>
                <!--texto-->
                <h3  class="h3-titulos-int">the ultimate degree</h3>
                <div class="cont_p_texto">
                    <p><b>Titulo Certificado. </b>Es una iniciativa educativa co-creada por Digital House, Mercado Libre y Globant para formar desarrolladores siguiendo los más altos estándares de la industria. </p>
                </div>
            </div>
        </div>
    </div>
    </main>

</body>
</html>