<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../public/css/header-footer.css">
    </head>
    <body>
        <!--HEADER-->
    <header class="header__index">
        <!--IMG HEADER-->
        <div class="contenedor_logo">
            <p>Logo</p>
        </div>
        <!--cursos blog nosotros-->
        <div class="contenedor__cursos">
            <a href="##">Cursos</a>
        </div>
        <div class="contenedor__blog">
            <a href="##">Blog</a>
        </div>
        <div class="contenedor__nosotros">
            <a href="##">Nosotros</a>
        </div>
        <!--INPUT BUSCADOR-->
        <div class="cont__input">
            <input type="text" value="   Busca tu curso!">
        </div>

        <!--loguin-->
        <div class="contenedor__login">
            <a href="">
                <i class="fa-solid fa-user"></i>
            </a>
        </div>
        <!-- carrito compras  -->
        <div class="contenedor__compras">
            <a href="">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </header>


        <main class="main">
            <div class="main__container">
                <figure class="main_principal-img">

                </figure>
                <h2></h2>
                <button><a href=""></a></button>
                <p></p>

                <section class="main__container-benefits">
                    <div class="main__box-benefits">
                        <img src="" alt="">
                        <p></p>
                    </div>
                    <div class="main__box-benefits"></div>>
                        <img src="" alt="">
                        <p></p>
                    </div>
                    <div class="main__box-benefits"></div>>
                        <img src="" alt="">
                        <p></p>
                    </div>
                    <div class="main__box-benefits"></div>>
                        <img src="" alt="">
                        <p></p>
                    </div>
                <section>
                    <article>
                        <div>
                            <ul>
                              <li></li>
                            </ul>
                        </div>
                        <figure>
                          <img src="" alt="">
                        </figure>
                    </article>
                    <article>
                        <div>
                            <ul>
                              <li></li>
                            </ul>
                        </div>
                        <figure>
                          <img src="" alt="">
                        </figure>
                    </article>
                </section>
                <section>
                    <article>
                        <div>
                            <ul>
                              <li></li>
                            </ul>
                        </div>
                        <figure>
                          <img src="" alt="">
                        </figure>
                    </article>
                </section>


            </div>

        </main>


        <footer>

        </footer>
    </body>
</html>