<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>

        </header>


        <main class="main">
            <div class="main__container">
                <figure class="main_principal-img">

                </figure>
                <h2></h2>
                <button><a href=""></a></button>
                <p></p>

                <section class="main__container-benefits">
                    <div class="main__box-benefits">
                        <img src="" alt="">
                        <p></p>
                    </div>
                    <div class="main__box-benefits"></div>>
                        <img src="" alt="">
                        <p></p>
                    </div>
                    <div class="main__box-benefits"></div>>
                        <img src="" alt="">
                        <p></p>
                    </div>
                    <div class="main__box-benefits"></div>>
                        <img src="" alt="">
                        <p></p>
                    </div>
                <section>
                    <article>
                        <div>
                            <ul>
                              <li></li>
                            </ul>
                        </div>
                        <figure>
                          <img src="" alt="">
                        </figure>
                    </article>
                    <article>
                        <div>
                            <ul>
                              <li></li>
                            </ul>
                        </div>
                        <figure>
                          <img src="" alt="">
                        </figure>
                    </article>
                </section>
                <section>
                    <article>
                        <div>
                            <ul>
                              <li></li>
                            </ul>
                        </div>
                        <figure>
                          <img src="" alt="">
                        </figure>
                    </article>
                </section>


            </div>

        </main>


        <footer>

        </footer>
    </body>
</html>