/*header*/
.header__index{
    display: flex;
    width: 100%;
    height: 4em;
    background-color: #a30006;
}
/*Contenedor img header*/
.contenedor_logo{
    width: 6em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_logo p {
font-size: 2.3em;
}
/*display none*/
.contenedor__cursos, .contenedor__blog, .contenedor__nosotros {
    display: none;
}
/* input buscador */
.cont__input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 4em;
}
.cont__input input{
    height: 2em;
    border-radius: 0.4em ;
    border: none;
}

/* logo login */
.contenedor__login{
    width: 4em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor__login a i{
    scale: 1.5;
    color: black;
}
/*logo carrito compras*/
.contenedor__compras{
    width: 4em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor__compras a i{
    scale: 1.5;
    color: black;
}

@media (max-width: 415px) {
    .cont__input{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8em;
        height: 4em;
    }
    .cont__input input{
        height: 2em;
        width: 8em;
        border-radius: 0.4em ;
        border: none;
    }

    .contenedor__login{
        width: 3em;
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contenedor__login a i{
        scale: 1.5;
        color: black;
    }
}
@media (min-width: 422px) {
    .header__index{
        display: flex;
        width: 100%;
        height: 4em;
        background-color: #a30006;
        justify-content: space-around;
    }

    /* input buscador */
.cont__input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 4em;
}
.cont__input input{
    height: 2em;
    width: 40em;
    border-radius: 0.4em ;
    border: none;
}
.contenedor__cursos, .contenedor__blog, .contenedor__nosotros {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    
}
.contenedor__cursos a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin: auto 1em;

}
.contenedor__blog a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin: auto 1em;
}

.contenedor__nosotros a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin: auto 1em;
}

}

/*----------footer------------*/
footer{
    width: 100%;
    height: 25em;
    background-color: #a30006;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Newsletter{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footyer__input__email{
    margin: 1em 4em;
    border-radius: 1em;
}
.footyer__input__registrarme{
    width: 7em;
    margin: 0 auto;
    border-radius: 1em;
}

.cursos__dest, .comunidad{
    padding: 1em;
}
.cursos__dest a{
    text-decoration: none;
    color: black;
}
.comunidad a{
    text-decoration: none;
    color: black;
}

/*redes*/
.contenedor__redes{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contenedor__redes i {
    scale: 1.5;
}

