* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body , html {
    overflow-x: hidden;
}


/*Cuerpo del index*/
section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px;
}
.cursos .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    margin: 30px auto;
}
p {
    padding: 0px 40px;
}
.cursos .ctn{
    margin-top: 30px;
}





/*header*/
.header__index{
    display: flex;
    width: 100%;
    height: 5em;
    background-color: #a30006;
    display: flex;
    align-items: center;
    justify-content: center;
}


ul{
    list-style: none;
}

/*navbar*/
.navbar{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;
}

.menu-button{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}





/*Search*/
.search{
    --padding: 14px

    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
}

.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}


.search-input::placeholder,
.search-icon{
    color: rgba(0, 0, 0, 0.5);
}






/*Movil*/
@media only screen and (max-width: 600px){


    .menu-button{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #a30006;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li{
        margin: 30px auto;
    }



    /*Cuerpo de index*/
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }

    .titulos__indiv{
        margin: 20px auto;
        flex-direction: column;
    }












   


}

/*compu*/
@media (min-width: 850px) {
    .flex_cont_cursos {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
    }
}


@media (max-width: 850px) {
    .flex_cont_cursos {
        width: 20%;
        margin: auto;
        justify-content: center;
        padding-top: 20px;
    }

}




/*SECCION TITULOS*/

.tituloCursos {
    font-size: 2em;
    margin-bottom: 5em;
}

/* Contenedor titulos certificados */
.contenedor__titulos__certificados {
    width: 100%;
    height: 300px;
    margin: 2em 0;
}

.flex_cont_titulos {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.contenedor__titulos__cursos {
    display: flex;
    justify-content: space-around;
    padding: 7px;
}

/* Titulo Beneficios Titulos */
.contenedor__titulo {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor__titulo h3 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

/* contenedor de los titulos individuales */
.titulos__indiv {
    display: flex;
    flex-direction: column;
    height: 30em;
    border: 0.2em solid #6b0103;
    border-radius: 0.4em;
    align-items: center;
    padding: 9px;

    /*interior*/
    background-color: #ffffff;
    
}

.caja__img-titulo {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
}

/*nombre titulo*/
.caja__img-titulo h3 {
    font-size: 2em;
    color: #1c0113;
}

.titulos__indiv img {
    width: 20%;
}

.titulo__indiv img {
    width: 50%;
}

.flex_cont_titulos img {
    width: 40%;
}

/* subtitulo */
.h3-titulos-int {
    margin: 1em 0;
}

/* parrafo de los cont de titulos */
.cont_p_texto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_p_texto p {
    text-align: start;
}

.contenedor__titulos__cursos {
    display: flex;
    justify-content: space-around;
}

.caja__img-curso {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
}










.carousel {
    position: relative;
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    margin: 0;
    padding: 0;
}

.carousel-article {
    flex: 0 0 100%; /* Establece el ancho fijo de cada artículo del carrusel */
}

.carousel-article img {
    width: 100%;
    height: auto;
}

.carousel-article:last-child {
    margin-right: 0; /* Elimina el margen derecho del último artículo para evitar un espacio adicional */
}

/* ultimo */

ul,
ol {
    list-style: none;
}

.nav li a {
    background-color: rgb(123, 123, 245);
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav > li {
    float: left;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

