.caja-perfil{
    margin: 3em auto;
    width: 80%;
    height: auto;
    text-align: center;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.caja-perfil-img {
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 100%;
    width: 50%;
    margin: auto;
    bottom: 3px;

    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
.caja-perfil-img svg{
    padding: 0%;
    margin: 0%;
}
.nombre-perfil{
    margin-bottom: 1em;
}
@media (min-width: 738px) {
    .caja-perfil{
        width: 30%;  
    }
}
@media (min-width: 980px) {
    .caja-perfil{
        width: 30%;  
    }
}