* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
/*-----------------------------*/
  header {
    height: 20vh;
    background-color: blueviolet;
  }
/*------------------------------*/
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
  }

  .main__container {
    display: inherit;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: beige;

  }

  .main_principal-img {
    width: 90vw;
    padding-top: 1rem;
  }

  .main_principal-img img{
    width: 100%;
  }

  .main__course-title {
    display: block;
    width: 60%;
    text-align: center;
    padding-top: 1rem;
    font-size: 18px;
  }

  .main__container-button {
    margin: auto;
    width: 40%;
  }

  .main__button--add-cart {
    padding: 5px 8px;
    font-size: 12px;
    border: 1px solid;
    border-radius: 5px;
  }

  .main__container--modality {
    display: flex;
    flex-direction: column;
  }

  .main__article--container-img {
    width: 40%;
  }