body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%; /* Utiliza el ancho máximo disponible */
    max-width: 400px; /* Ancho máximo deseado */
    margin: 50px auto; /* Centra el contenedor vertical y horizontalmente */
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el contenido del contenedor */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px); /* Ajusta el ancho para que no ocupe toda la página */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s ease;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

input.input-correcto {
    border-color: #28a745;
}

input.input-incorrecto {
    border-color: #dc3545;
}

input[type="submit"] {
    width: 100%; /* Ocupa todo el ancho disponible dentro del contenedor */
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    color: #fff;
    transition: background-color 0.3s;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    max-width: 200px; /* Limita el ancho máximo del botón */
    margin: 0 auto; /* Centra el botón horizontalmente */
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.requisito {
    display: none;
    color: #dc3545;
    font-size: 12px;
    margin-top: 5px;
}
