<!DOCTYPE html>
<html lang="es">

<!--HEAD-->
<%- include('./partials/head') %>

<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
   

    <div class="container">
        <h2 class="titulos-gen">Te damos la bienvenida!</h2>
        <p>Ya podes loguearte</p>
        <a class="a-bien" href="/user/login"><button class="buttom-bien">Login</button></a>
        
            
    </div>

</body>
<!-- FOOTER -->
<%- include('./partials/footer') %>
</html>
