<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="blog.css">
    <!-- HEAD -->
    <%- include('./partials/head') %>
</head>
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>

    <!-- Blog -->
    <div class="contenedor__blog">
        <a href="blog">Blog</a>
    </div>

    <div class="contenedor__blog">
        <h1>BLOG</h1>

        <section class="blog-post">
            <h2>¿QUÉ HACE UN DESARROLLADOR WEB?</h2>
            <img src="/images/program3.jpg" alt="Desarrollador Web">
            <p>Descubre las tareas esenciales de un desarrollador web, 
            las especializaciones (frontend, backend y full stack), 
            cómo comenzar tu carrera y las ventajas de esta profesión.</p>
        </section>

        <section class="blog-post">
            <h2>LOS LENGUAJES DE PROGRAMACIÓN MÁS DEMANDADOS DEL 2024</h2>
            <img src="/images/foto4.jpg" alt="Lenguajes de Programación">
            <p>La industria tecnológica está en constante evolución y conocer los lenguajes de programación 
            más demandados es esencial para cualquier desarrollador. Te contamos cuáles son los más solicitados y cómo prepararte 
            para aprovechar estas oportunidades.</p>
        </section>

        <section class="blog-post">
            <h2>QUIÉNES Y POR QUÉ ELIGEN TRABAJAR FREELANCE EN LATINOAMÉRICA</h2>
            <img src="/images/programfinal.jpg" alt="Trabajar Freelance">
            <p>Los jóvenes de hoy ya no buscan reglas impuestas por terceros. Prefieren hacerlo por sí mismos.
            Frente a la idea de estabilidad y seguridad laboral que nos heredaron las generaciones pasadas, 
            hoy se evidencia una nueva manera de ver las cosas. Y de hacerlas.
            Pero, ¿quiénes pueden ser freelancers y por qué eligen esta modalidad? Lee esta nota si quieres saberlo.</p>
        </section>
    </div>
</body>
</html>
