<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="blog"
        href="blog.css">
        </head>

        <body>
     <!--blog -->
     <div class="contenedor__blog">
        <a href="blog">Blog</a>
    </div>

    <div class="contenedor__blog">

        <h1>BLOG</h1>

        <h2>¿QUE HACE UN DESARROLLADOR WEB?</h2>
        <img src="\images\program3.jpg">
        
        <P> Descubre las tareas esenciales de un desarrollador web, 
            las especializaciones (frontend, backend y full stack), 
            cómo comenzar tu carrera y las ventajas de esta profesión.
        </P>

        <h2>LOS LENGUAJES DE PROGRAMACIÓN MAS DEMANDADOS DEL 2024</h2>
        <img src="/images/foto4.jpg">
        
        <p> La industria tecnológica está en constante evolución y c
            onocer los lenguajes de programación 
            más demandados es esencial para cualquier desarrollador. 
            Te contamos cuáles son los más solicitados y cómo prepararte 
            para aprovechar estas oportunidades.
        </p>
        
        <h2>QUIENES Y PORQUE ELIGEN TRABAJAR FREELANCE EN LATINOAMERICA</h2>
        <img src="\images\programfinal.jpg">
    
        <p>Los jóvenes de hoy ya no buscan reglas impuestas por terceros. 
            Prefieren hacerlo por sí mismos.
            Frente a la idea de estabilidad y seguridad laboral 
            que nos heredaron las generaciones pasadas, 
            hoy se evidencia una nueva manera de ver las cosas. Y de hacerlas.
            Pero, ¿quiénes pueden ser freelancers y por qué eligen esta modalidad? 
            Lee esta nota si quieres saberlo.
        </p>
        </div>
    </body>
</html>