<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <div class="cart">
        <h1><i class="fa-solid fa-cart-shopping"></i>Mis compras</h1>
        <ul class="items">
            <li>Curso 1</li>
            <li>Curso 2</li>
            <li>Curso 3</li>
        </ul>
    </div>
</body>
</html>
