<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
    <section>
        <div class="container">
           <h2 class="px-5 p-2"><i class="fa-solid fa-cart-shopping"></i>Mis compras</h2>
           <div class="cart">
              <div class="col-md-12 col-lg-10 mx-auto">
                 <div class="cart-item">
                    <div class="row">
                       <div class="col-md-7 center-item">
                          <img src="<%= cursoCarrito[i].image %>" alt="">
                          <h5><%= cursoCarrito[i].name %></h5>
                       </div>
  
                       <div class="col-md-5 center-item">
                          <div class="input-group number-spinner">
                             <button id="curso-menos" class="btn btn-default"><i class="fas fa-minus"></i></button>
                             <input id="curso-numero" type="number" min="0" class="form-control text-center" value="1">
                             <button id="curso-mas" class="btn btn-default"><i class="fas fa-plus"></i></button>
                          </div>
                          <h5>$ <span id="curso-total"><%= cursoCarrito.price %></span> </h5>
                          <img src="images/x_icon.png" alt="" class="remove-item">
                       </div>
                    </div>
                 </div>
  
                 <div class="cart-item">
                    <div class="row">
                       <div class="col-md-7 center-item mx-auto">
                          <img src="images/java.jpg" alt="">
                          <h5>Curso JAVASCRIPT</h5>
                       </div>
                       <div class="col-md-5 center-item">
                          <div class="input-group number-spinner">
                             <button id="curso-menos" class="btn btn-default"><i class="fas fa-minus"></i></button>
                             <input id="curso-numero" type="number" min="0" class="form-control text-center" value="1">
                             <button  id="curso-mas" class="btn btn-default"><i class="fas fa-plus"></i></button>
  
                          </div>
                          <h5>$ <span id="case-total">15,000</span> </h5>
                          <img src="images/x_icon.png" alt="" class="remove-item">
                       </div>
                    </div>
                 </div>

                 <div class="cart-item">
                    <div class="row">
                       <div class="col-md-7 center-item mx-auto">
                          <img src="images/java.jpg" alt="">
                          <h5>Curso NODE.JS</h5>
                       </div>
                       <div class="col-md-5 center-item">
                          <div class="input-group number-spinner">
                             <button id="curso-menos" class="btn btn-default"><i class="fas fa-minus"></i></button>
                             <input id="curso-numero" type="number" min="0" class="form-control text-center" value="1">
                             <button  id="curso-mas" class="btn btn-default"><i class="fas fa-plus"></i></button>
  
                          </div>
                          <h5>$ <span id="case-total">15,000</span> </h5>
                          <img src="images/x_icon.png" alt="" class="remove-item">
                       </div>
                    </div>
                 </div>
  
                 
                
                 <div class="col-md-12 pt-4 pb-4">
                    <button type="button" class="btn btn-success check-out">Pagar</button>
                 </div>
              </div>
           </div>
        </div>
     </section>
    

     

</body>
</html>
