<!DOCTYPE html>
<html lang="en">

<!--HEAD-->
<%- include('./partials/head') %>

<body>
    <!--HEADER-->
    <%- include('./partials/header') %>

    <main>
        <!-- Carousel Section -->
        <div class="carousel">
            <div class="carousel-container">
                <article class="carousel-article">
                    <div class="slide-content">
                        <img src="/images/programfinal.jpg" alt="digitalAmaru">
                        <h3>digitalAmaru</h3>
                        <h5>Reinvéntate hacia el trabajo virtual</h5>
                    </div>
                </article>
                <article class="carousel-article">
                    <div class="slide-content">
                        <img src="/images/program2.JPG" alt="digitalAmaru">
                        <h3>digitalAmaru</h3>
                        <h5>Comienza tu carrera en tecnología</h5>
                    </div>
                </article>
                <article class="carousel-article">
                    <div class="slide-content">
                        <img src="/images/program3.JPG" alt="digitalAmaru">
                        <h3>digitalAmaru</h3>
                        <h5>Estudia HTML y CSS, JAVASCRIPT y Node.JS</h5>
                    </div>
                </article>
            </div>
        </div>
    </main>

<!------------------------------------------------->

<section class="last-view">
    <h2 class="titular">Cursos</h2>
    <article class="producto__contenedor">
        <div class="producto">
            <img src="/images/cursospng.jpeg" alt="cafetera">
                <div class="producto__info">
                        
                    <div class="precio-descuento">
                        
                        <p class="descuento">40% off</p>
                    </div>
                    <div>
                        <p class="descripcion">Este curso está diseñado para que puedas idear, maquetear y finalmente realizar tus sitios web de manera profesional.</p>
                        <a href="#" class="ctn">Leer más</a>
                    </div>
                </div>
        </div>
        
        <div class="producto">
            <img src="/images/cursospng.jpeg" alt="cafetera">
                <div class="producto__info">
                        
                    <div class="precio-descuento">
                        
                        <p class="descuento">40% off</p>
                    </div>
                    <div>
                        <p class="descripcion">Este curso está diseñado para que puedas idear, maquetear y finalmente realizar tus sitios web de manera profesional.</p>
                        <a href="#" class="ctn">Leer más</a>
                    </div>
                </div>
        </div>
        <div class="producto">
            <img src="/images/cursospng.jpeg" alt="cafetera">
                <div class="producto__info">
                        
                    <div class="precio-descuento">
                        
                        <p class="descuento">40% off</p>
                    </div>
                    <div>
                        <p class="descripcion">Este curso está diseñado para que puedas idear, maquetear y finalmente realizar tus sitios web de manera profesional.</p>
                        <a href="#" class="ctn">Leer más</a>
                    </div>
                </div>
        </div>  
    </article>
</section>

<section class="offer">
    <h2 class="titular">Titulos</h2>
        <article class="producto__contenedor">
            <div class="producto">
                <img src="/images/cursos.jpg" alt="curso">
                    <div class="producto__info">
                        
                        <div class="precio-descuento">
                        
                        <p class="descuento">10% off</p>
                    </div>
                        <p class="descripcion"><b>Titulo Certificado. </b>Es una iniciativa educativa co-creada por Digital House, Mercado Libre y Globant para formar desarrolladores siguiendo los más altos estándares de la industria.</p>
                        <a href="#" class="ctn">Leer más</a>
                    </div>
                    
            </div>
            
            <div class="producto">
                <img src="/images/cursos.jpg" alt="curso">
                    <div class="producto__info">
                        
                        <div class="precio-descuento">
                        
                        <p class="descuento">20% off</p>
                    </div>
                        <p class="descripcion"><b>Titulo Certificado. </b>Es una iniciativa educativa co-creada por Digital House, Mercado Libre y Globant para formar desarrolladores siguiendo los más altos estándares de la industria.</p>
                        <a href="#" class="ctn">Leer más</a>
                    </div>
                    
            </div>
            <div class="producto">
                <img src="/images/cursos.jpg" alt="curso">
                    <div class="producto__info">
                        
                        <div class="precio-descuento">
                        
                        <p class="descuento">10% off</p>
                    </div>
                        <p class="descripcion"><b>Titulo Certificado. </b>Es una iniciativa educativa co-creada por Digital House, Mercado Libre y Globant para formar desarrolladores siguiendo los más altos estándares de la industria.</p>
                        <a href="#" class="ctn">Leer más</a>
                    </div>
                    
            </div>
            
        </article>
</section





<!------------------------------------------------->



    

 <!--Cuerpo del index-->
 <!--<section class="cursos">
    <div class="title">
        <h1>Cursos más vendidos</h1>
        <div class="line"></div>
    </div>
    <div class="row">
        <div class="col">
            <img src="/images/cursospng.jpeg" alt="">
            <h4>HTML Y CSS</h4>
            <p>Este curso está diseñado para que puedas idear, maquetear y finalmente realizar tus sitios web de manera profesional.</p>
            <a href="#" class="ctn">Leer más</a>
        </div>
        <div class="col">
            <img src="/images/cursospng.jpeg" alt="">
            <h4>JAVASCRIPT</h4>
            <p>Este curso está diseñado para que puedas idear, maquetear y finalmente realizar tus sitios web de manera profesional.</p>
            <a href="#" class="ctn">Leer más</a>
        </div>
        <div class="col">
            <img src="/images/cursospng.jpeg" alt="">
            <h4>NODE.JS</h4>
            <p>Este curso está diseñado para que puedas idear, maquetear y finalmente realizar tus sitios web de manera profesional.</p>
            <a href="#" class="ctn">Leer más</a>
        </div>
        
    </div>
 </section> -->


 <!-- <section class="cursos">
      <--TITULOS->
      <div class="contenedor__titulos__certificados">
        <div class="contenedor__titulo">
            <h3>Beneficios</h3>
        </div>

        <!-contenedores titulos->
        <div class="flex_cont_titulos">
            <div class="titulos__indiv">
                <div class="caja__img-titulo">
                    <div class="img__titulo"></div>
                    <img src="/images/cursos.jpg">
                    <h3>CTD</h3>
                </div>
                <!-texto->
                <h3 class="h3-titulos-int">the ultimate degree</h3>
                <div class="cont_p_texto">
                    <p><b>Titulo Certificado. </b>Es una iniciativa educativa co-creada por Digital House, Mercado
                        Libre y Globant para formar desarrolladores siguiendo los más altos estándares de la
                        industria. </p>
                </div>
            </div>
            <div class="titulos__indiv">
                <div class="caja__img-titulo">
                    <div class="img__titulo"></div>
                    <img src="/images/cursos.jpg">
                    <h3>CTD</h3>
                </div>
                <!-texto->
                <h3 class="h3-titulos-int">the ultimate degree</h3>
                <div class="cont_p_texto">
                    <p><b>Titulo Certificado. </b>Es una iniciativa educativa co-creada por Digital House, Mercado
                        Libre y Globant para formar desarrolladores siguiendo los más altos estándares de la
                        industria. </p>
                </div>
            </div>

            <div class="titulos__indiv">
                <div class="caja__img-titulo">
                    <div class="img__titulo"></div>
                    <img src="/images/cursos.jpg">
                    <h3>CTD</h3>
                </div>
                <!-texto->
                <h3 class="h3-titulos-int">the ultimate degree</h3>
                <div class="cont_p_texto">
                    <p><b>Titulo Certificado. </b>Es una iniciativa educativa co-creada por Digital House, Mercado Libre y Globant para formar desarrolladores siguiendo los más altos estándares de la industria. </p>
                </div>
            </div>

        </div>
    </div>

 </section> -->








    <!-- Script para carrusel -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
    const carouselContainer = document.querySelector('.carousel-container');
    const slides = carouselContainer.querySelectorAll('.carousel-article');
    const slideWidth = slides[0].offsetWidth; // Ancho de cada diapositiva
    let currentIndex = 0;
    const intervalTime = 3000; // Cambia esto para ajustar la velocidad de cambio de las imágenes

    function showSlide(index) {
        const newPosition = -index * slideWidth;
        carouselContainer.style.transform = `translateX(${newPosition}px)`;
    }

    function showNextSlide() {
        currentIndex = (currentIndex + 1) % slides.length;
        showSlide(currentIndex);
    }

    setInterval(showNextSlide, intervalTime); // Cambiar automáticamente las imágenes cada intervalo de tiempo
});
    </script>
</body>

</html>