<!DOCTYPE html>
<html lang="en">

<!--HEAD-->
<%- include('./partials/head') %>

<body>
    <!--HEADER-->
    <%- include('./partials/header') %>

    <!--Cuerpo del index-->
    <main>
        <!--CARRUSEL-->
        <article class="carrusel_principal1">
            <img src="/images/logotipo.jpg" alt="Titulo del producto">
            <h3>digitalAmaru</h3>
            <h5>Reinvéntate hacia el trabajo virtual</h5>
        </article>
        <article class="carrusel_principal2">
            <img src="/images/carrusel.2.jpg" alt="Titulo del producto">
            <h3>digitalAmaru</h3>
            <h5>Comienza tu carrera en tecnología</h5>
        </article>
        <article class="carrusel_principal3">
            <img src="/images/carrusel2.jpg" alt="Titulo del producto">
            <h3>digitalAmaru</h3>
            <h5>Estudia HTML y CSS, JAVASCRIPT y Node.JS</h5>
        </article>
 
        <!--CURSOS MAS VENDIDOS-->
        <div class="contenedor__titulos__cursos">
            <div class="contenedor__titulo">
                <h1>CURSOS MAS VENDIDOS</h1>
                <div class="cont_p_curso"></div>
            </div>

            <!--contenedores cursos-->
            <div class="flex_cont_cursos">
                <div class="titulos__indiv">
                    <div class="caja__img-curso">
                        <div class="img__titulo">img</div>
                        <h3>HTML Y CSS</h3>
                    </div>
                    <!--texto-->
                    <h3 class="h3-titulos-int">VER MAS</h3>
                    <div class="cont_p_texto">
                        <p><b>Descripción. </b>Este curso está diseñado para que puedas idear, maquetear y finalmente realizar tus sitios web de manera profesional. </p>
                    </div>
                </div>
                <div class="titulos__indiv">
                    <div class="caja__img-curso">
                        <div class="img__titulo">img</div>
                        <h3>JAVASCRIPT</h3>
                    </div>
                    <!--texto-->
                    <h3 class="h3-titulos-int">VER MAS</h3>
                    <div class="cont_p_texto">
                        <p><b>Descripción. </b>Este curso está diseñado para que puedas crear contenido de actualización dinámica, controlar multimedia, animar imágenes entre otras tantas que te servirán para introducirte en el mundo laboral. </p>
                    </div>
                </div>

                <div class="titulos__indiv">
                    <div class="caja__img-curso">
                        <div class="img__titulo">img</div>
                        <h3>NODE.JS</h3>
                    </div>
                    <!--texto-->
                    <h3 class="h3-titulos-int">VER MAS</h3>
                    <div class="cont_p_texto">
                        <p><b>Descripción. </b>Está diseñado para crear aplicaciones escalables, es una tecnología del Back-end e interpretes de JavaScript que permite ejecutar código de una manera veloz. </p>
                    </div>
                </div>
            </div>
        </div>

        <!--TITULOS-->
        <div class="contenedor__titulos__certificados">
            <div class="contenedor__titulo">
                <h3>Beneficios</h3>
            </div>

            <!--contenedores titulos-->
            <div class="flex_cont_titulos">
                <div class="titulos__indiv">
                    <div class="caja__img-titulo">
                        <div class="img__titulo">img</div>
                        <h3>CTD</h3>
                    </div>
                    <!--texto-->
                    <h3 class="h3-titulos-int">the ultimate degree</h3>
                    <div class="cont_p_texto">
                        <p><b>Titulo Certificado. </b>Es una iniciativa educativa co-creada por Digital House, Mercado
                            Libre y Globant para formar desarrolladores siguiendo los más altos estándares de la
                            industria. </p>
                    </div>
                </div>
                <div class="titulos__indiv">
                    <div class="caja__img-titulo">
                        <div class="img__titulo">img</div>
                        <h3>CTD</h3>
                    </div>
                    <!--texto-->
                    <h3 class="h3-titulos-int">the ultimate degree</h3>
                    <div class="cont_p_texto">
                        <p><b>Titulo Certificado. </b>Es una iniciativa educativa co-creada por Digital House, Mercado
                            Libre y Globant para formar desarrolladores siguiendo los más altos estándares de la
                            industria. </p>
                    </div>
                </div>

                <div class="titulos__indiv">
                    <div class="caja__img-titulo">
                        <div class="img__titulo">img</div>
                        <h3>CTD</h3>
                    </div>
                    <!--texto-->
                    <h3 class="h3-titulos-int">the ultimate degree</h3>
                    <div class="cont_p_texto">
                        <p><b>Titulo Certificado. </b>Es una iniciativa educativa co-creada por Digital House, Mercado Libre y Globant para formar desarrolladores siguiendo los más altos estándares de la industria. </p>
                    </div>
                </div>

                <div class="titulos__indiv">
                    <div class="caja__img-titulo">
                        <div class="img__titulo">img</div>
                        <h3>CTD</h3>
                    </div>
                    <!--texto-->
                    <h3 class="h3-titulos-int">the ultimate degree</h3>
                    <div class="cont_p_texto">
                        <p><b>Titulo Certificado. </b>Es una iniciativa educativa co-creada por Digital House, Mercado Libre y Globant para formar desarrolladores siguiendo los más altos estándares de la industria. </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--script para logos-->
    <script src="https://kit.fontawesome.com/30b0f2e917.js" crossorigin="anonymous"></script>
</body>


</html>
