<!DOCTYPE html>
<html lang="en">

<!--HEAD-->
<%- include('./partials/head') %>

<body>
   <!--HEADER-->
   <%- include('./partials/header') %>

    <h1 class="titulo-nosotros">Nosotros</h1>
    <div class="nosotros-cont">
        <section id="quienes-somos">
            <h2>¿Quiénes somos?</h2>
            <p>Somos una plataforma educativa comprometida con el crecimiento personal y profesional de nuestros estudiantes, ofreciendo acceso a conocimientos actualizados y herramientas prácticas impartidas por expertos de la industria.</p>
        </section>
    
        <section id="mision">
            <h2>Misión</h2>
            <p>Capacitar a personas de todas las edades y niveles de experiencia en el arte de la programación, proporcionando cursos online de alta calidad que fomenten el aprendizaje efectivo y práctico, mientras cultivamos un ambiente de colaboración y crecimiento personal.</p>
        </section>
    
        <section id="vision">
            <h2>Visión</h2>
            <p>Ser líderes reconocidos globalmente en la educación online de programación, inspirando y empoderando a nuestros estudiantes para que transformen ideas en innovaciones digitales, guiados por nuestros valores de creatividad, excelencia y responsabilidad social.</p>
        </section>
    
        <section id="futuro">
            <h2>Futuro</h2>
            <p>Nos vemos como impulsores de una revolución digital, donde cada individuo tenga la capacidad de crear y desarrollar soluciones tecnológicas que mejoren el mundo que nos rodea, promoviendo una cultura inclusiva y de constante aprendizaje.</p>
        </section>
    </div>

    <footer></footer>
</body>
</html>
