<!DOCTYPE html>
<html lang="en">

<!--HEAD-->
<%- include('./partials/head') %>

<body>
    <!--HEADER-->
    <header class="header__index">
        <!--IMG HEADER-->
        <div class="contenedor_logo">
            <p>Logo</p>
        </div>
        <!--cursos blog nosotros-->
        <div class="contenedor__cursos">
            <a href="##">Cursos</a>
        </div>
        <div class="contenedor__blog">
            <a href="##">Blog</a>
        </div>
        <div class="contenedor__nosotros">
            <li><a href="#Nosotros">Nosotros</a></li>
        </div>
        <!--INPUT BUSCADOR-->
        <div class="cont__input">
            <input type="text" value="   Busca tu curso!">
        </div>

        <!--loguin-->
        <div class="contenedor__login">
            <a href="">
                <i class="fa-solid fa-user"></i>
            </a>
        </div>
        <!-- carrito compras  -->
        <div class="contenedor__compras">
            <a href="">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </div>
    </header>


    <div class="contenedor__nosotros">
        <h1>Nosotros</h1>
        <P>QUIENES SOMOS NOSOTROS: Somos una plataforma educativa comprometida con el crecimiento personal y profesional de nuestros
            estudiantes, ofreciendo acceso a conocimientos actualizados y herramientas prácticas impartidas por expertos de la 
            industria.
            MISIÓN: Capacitar a personas de todas las edades y niveles de experiencia en el arte de la programación, proporcionando
            cursos online de alta calidad que fomenten el parendizaje efectivo y práctico, mientras cultivamos un ambiente de colaboración,
            y crecimiento persona.
            VISIÓN: Ser lideres reconocidos globalmente en la educación online de programación, inspirando y empoderando a nuestros
            estudiantes para que transformen ideas en innovaciones digitales, guiados por nuestrops valores de creatividad, excelencia y reponsabilidad
            social.
            FUTURO: Nos vemos como impulsores de una revolución digital, donde cada individuo tenga la capacidad de crear y desarrollar soluciones
            tecnológicas que mejoren el muendo que nos rodea, promoviendo una cultura inclusiva y de constante aprendizaje.
        </P>

        <div class="contenedor__blog">

            <h1>Blog</h1>

            <img src="C:\Proyecto Srints\grupo_2_digitalAmaru\public\images\program3.jpg">

            <P>¿QUE HACE UN DESARROLLADOR WEB?
                Descubre las tareas esenciales de un desarrollador web, 
                las especializaciones (frontend, backend y full stack), 
                cómo comenzar tu carrera y las ventajas de esta profesión.
            </P>

            <img src="C:\Proyecto Srints\grupo_2_digitalAmaru\public\images\foto4.jpg">
            <p>
                LOS LENGUAJES DE PROGRAMACIÓN MAS DEMANDADOS DEL 2024
                La industria tecnológica está en constante evolución y c
                onocer los lenguajes de programación 
                más demandados es esencial para cualquier desarrollador. 
                Te contamos cuáles son los más solicitados y cómo prepararte 
                para aprovechar estas oportunidades.
            </p>
            
            <img src="C:\Proyecto Srints\grupo_2_digitalAmaru\public\images\clases-en-vivo-2.jpg">
            <p>
                QUIENES Y PORQUE ELIGEN TRABAJAR FREELANCE EN LATINOAMERICA
                Los jóvenes de hoy ya no buscan reglas impuestas por terceros. 
                Prefieren hacerlo por sí mismos.
                Frente a la idea de estabilidad y seguridad laboral 
                que nos heredaron las generaciones pasadas, 
                hoy se evidencia una nueva manera de ver las cosas. Y de hacerlas.
                Pero, ¿quiénes pueden ser freelancers y por qué eligen esta modalidad? 
                Lee esta nota si quieres saberlo.
            </p>
            </div>

    <footer></footer>
</body>
</html>
