<footer class="footer">
    <div class="footer__inner">
        <div class="footer__section">
            <h4>Información</h4>
            <ul>
                <li><a class="nosotros" href="/nosotros">Acerca de nosotros</a></li>
            </ul>
        </div>
        <div class="footer__section contact-info">
            <h4>Contacto</h4>
            <ul>
                <li><i class="fa-solid fa-map-marker-alt"></i> Ciudad autonoma de Buenos Aires, Argentina</li>
                <li><i class="fa-solid fa-phone"></i> Teléfono: +1234567890</li>
                <li><i class="fa-solid fa-envelope"></i> Email: info.digital_amaru@gmail.com</li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom">
        <p>&copy; 2024 Digital Amaru</p>
    </div>
</footer>
