<header class="header__index">
    <nav class="navbar">
        <h1 class="logo">digitalAmaru</h1>
        <ul class="nav-links">
            <li><a href="#"></a>Cursos</li>
            <li><a href="#"></a>Blog</li>
            <li><a href="#"></a>Nosotros</li>
        </ul>

        <form>
            <div class="search">
                <span class="search-icon material-symbols-outlined">search</span>
                <input class="search-input" type="search" placeholder="Search">
            </div>
        </form>
        

        <ul class="nav-links">
            <li><a href="login">Iniciar seción</a></li>
            <li><a href="register">Registrarse</a></li>
        </ul>

        <i class="fa-solid fa-cart-shopping"></i>

        <img src="/images/menu.png" alt="" class="menu-button">

        
    </nav>
</header>

<script>
    const menuButton = document.querySelector('.menu-button')
    const navlinks = document.querySelector('.nav-links')

    menuButton.addEventListener('click', ()=>{
        navlinks.classList.toggle('mobile-menu')
    })
</script>