
<header class="header__index">
    <!--IMG HEADER-->
    <div class="contenedor_logo">
    </div>
    <!--cursos blog nosotros-->
    <ul class="nav">

        <li><a href="">Cursos</a>
    <ul>
        <li><a href="">HTML Y CSS</a></li>
        <li><a href="">JAVASCRIP</a></li>
        <li><a href="">NODEJS</a></li>
         </ul>
         
        <li><a href="">Blog</a>
        <li><a href="">Nosotros</a>
        <li><a href="">Login</a>

    <!--INPUT BUSCADOR-->
    <div class="cont__input">
            <input type="text" value="Busca tu curso">
    </div>

    <!--loguin-->
    <div class="contenedor__login">
        <a href="">
            <i class="fa-solid fa-user"></i>
        </a>
    </div>
    <!-- carrito compras  -->
    <div class="contenedor__compras">
        <a href="">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </div>
</header>