<header class="header__index">
    <!--IMG HEADER-->
    <div class="contenedor_logo">
        <p>Logo</p>
    </div>
    <!--cursos blog nosotros-->
    <div class="contenedor__cursos">
        <a href="##">Cursos</a>
    </div>
    <div class="contenedor__blog">
        <a href="##">Blog</a>
    </div>
    <div class="contenedor__nosotros">
        <a href="##">Nosotros</a>
    </div>
    <!--INPUT BUSCADOR-->
    <div class="cont__input">
        <input type="text" value="   Busca tu curso!">
    </div>

    <!--loguin-->
    <div class="contenedor__login">
        <a href="">
            <i class="fa-solid fa-user"></i>
        </a>
    </div>
    <!-- carrito compras  -->
    <div class="contenedor__compras">
        <a href="">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </div>
</header>