<header class="header__index">
    <nav class="navbar">
        <a href="/" style="text-decoration: none; color: black;"><h1 class="logo">DigitalAmaru</h1></a>

        <ul class="nav-links">
            <li><a class="cursosss" href="#cursos">Cursos</a></li>
            <li><a class="blog" href="/blog">Blog</a></li>
            <li><a class="nosotros" href="/nosotros">Nosotros</a></li>
        </ul>

        <form>
            <div class="search">
                <span class="search-icon material-symbols-outlined">search</span>
                <input class="search-input" type="search" placeholder="Search">
            </div>
        </form>

        <% if (locals.isLogged) { %>
            <div class="div-perfil">
                <ul class="ul-perfil-contenedor">  
                    <li class="flex-perfil">
                        <a class="logo-perfil" href="/user/perfil"><i class="fa-solid fa-user"></i></a>
                        <h2><%= locals.userLogged.name %></h2>
                        <ul class="ul-perfil">
                            <li><a href="/user/perfil">Perfil</a></li>
                            <li><a href="/user/logout">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        <% } else { %>
            <ul class="nav-links">
                <li><a href="/user/login">Iniciar sesión</a></li>
                <li><a href="/user/register">Registrarse</a></li>
            </ul>
        <% } %>

        <a class="logo-carrito" href="/cart/cartAdd"><i class="fa-solid fa-cart-shopping"></i></a>
    </nav>
</header>
