<head>
    <meta charset="utf-8">
    <title>digitalAmaru</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
      src="https://kit.fontawesome.com/fd3fd2bc99.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<!--Detalle de producto-->

    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/product-details-styles.css"/>

<!--Index-->

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <!--Nosotros-->
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/nosotros.css">

    <!--Login-->
    <link rel="stylesheet" href="/css/login.css">

    <!--Register-->
    <link rel="stylesheet" href="/css/register.css">

    <!--Cart-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/cart.css">

    <!--userList-->
    <link rel="stylesheet" href="/src/views/usuarios/userList.ejs">

    <!--perfil-->
    <link rel="stylesheet" href="/css/perfil.css">

     <!--edicion prodictos-->
     <link rel="stylesheet" href="/css/edicionYCreacion.css">

    <!--bienvenida-->
    <link rel="stylesheet" href="/css/bienvenida.css">

</head>